/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8fafc;
  color: #1e293b;
}

/* VARIABLES */
:root {
  --primary: #1e3c72;
  --secondary: #2a5298;
  --accent: #ff7a18;
  --light: #f5f7fb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(90deg, #1e3c72cc, #2a5298cc);
  backdrop-filter: blur(10px);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
   font-weight: 500;
   font-weight: 500;
   font-size: 20px;
  position: relative;
  transition: 0.3s;
}

.navbar a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--accent);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

/* LOGO */
.imges {
      display: flex;
  align-items: center;
    height: 95px;
    width: 250px;
      cursor: pointer;
      /* object-fit: contain; */
  transition: all 0.3s ease;

}

/* Hover effect */
.imges:hover{
  transform: scale(1.1) rotate(5deg);
}

@media (max-width: 768px) {

  .imges {
    width: 38px;
    height: 38px;
  }
}
.imges {
  filter: drop-shadow(0 0 8px rgba(255, 122, 24, 0.6));
}


/* HERO */
.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.hero::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(45, 44, 44, 0.6);
}

.hero-content{
  position: relative;
  text-align: center;
  animation: fadeUp 1s ease;
}

.hero h1{
  font-size: 56px;
  opacity: 0.5;
}

.hero p{
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;

}
.hero button{
    box-shadow: 0px 0px 0px 2px gray;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.hero-button:hover{
    transition: var(--secondary);
}
/* ANIMATION */
@keyframes fadeUp {
  from {opacity: 0; transform: translateY(40px);}
  to {opacity: 1; transform: translateY(0);}
}

/* SPLIT */
.split {
  display: flex;
 align-items: center;
 font-size: 25px;
  gap: 40px;
  padding: 70px 40px;
}

.split img {
  width: 600px;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 2px rgb(135, 156, 242);
}
.split img:hover{
transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    border: 1px solid var(--accent);
}
.split div {
  width: 50%;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    border: 1px solid var(--accent);
}

/* FEATURES */
.features-section {
  padding: 80px 20px;
  text-align: center;
  background: #f5f7fb;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.feature-card {
   background: white;
  padding: 30px;
  border-radius: 12px;
  width: 200px;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.feature-icon {
  font-size: 35px;
  color: #4fa3ad;
  margin-bottom: 10px;
}

/* HOVER EFFECT */
.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* STATS */
.stats-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.stat-card {
  background: linear-gradient(135deg, #ff7a18, #ffb347);
  padding: 30px;
  border-radius: 12px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.stat-card h2 {
  font-size: 36px;
  margin: 0;
}

.stat-card p {
  margin-top: 10px;
}

.stat-card:hover {
  transform: scale(1.1);
}

/* CONTACT */
.contact-container {
  display: flex;
  gap: 40px;
  padding: 60px;
}

.contact-form {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

}
.contact-form h2 {
  margin-bottom: 20px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contact-form button {
    width: 100%;
  padding: 12px;
  border: none;
  background: #2575fc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.contact-form button:hover {
  background: #6a11cb;
}

.contact-info {
  flex: 1;
}

.contact-info h3 {
  margin-bottom: 10px;
}
.contact-form {
  border-top: 5px solid var(--primary);
}

.contact-info {
  background: linear-gradient(to right, #f4f4f4 50%, #69a7f4);
  color: black;
  font-size: 20px;
  padding: 40px;
  border-radius: 12px;
}

.potential-section {
  /* background: #d1e2fc; */
  margin-top: 20px;
  padding: 20px 20px;
  text-align: center;
  text-shadow: 0.5px 0px 1px;
}

.potential-section h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1e2a38;
}
/* SERVICE GRID */
.service-grid {
  display: grid;
grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #ddd;}

.service-item {
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-weight: 500;
  color: #2c3e50;
}

.service-item:nth-child(3n) {
  border-right: none;
}

/* CTA */
.cta-section {
  display: flex;
  justify-content: space-around;
  background: #d1e2fc;
  color: black;
  margin: 10px;
  padding: 70px 20px;
  text-align: center;
}

.cta-box {
  max-width: 250px;
}

.cta-box h3 {
  margin-bottom: 10px;
  font-size: 30px;
}

.cta-box span {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {

  .features-grid,
  .cta-section {
    flex-direction: column;
    gap: 40px;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .service-item {
    border-right: none;
  }
}

.split2 {
  display: flex;
 align-items: center;
 font-size: 25px;
  gap: 40px;
  padding: 70px 40px;
}

.split2 img {
  width: 600px;
  border-radius: 12px;
    box-shadow: 0px 0px 2px 2px rgb(135, 156, 242);

}
.split2 img:hover{
transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    border: 1px solid var(--accent);
}
.split2 div {
  width: 50%;
}
section h2 {
    /* text-align: center; */
    text-decoration: underline;
  margin-bottom: 20px;
  font-size: 35px;
}
ul {
    /* margin: auto; */
    padding:20px;
  text-align: left;
  font-size: 20px;
  list-style: none;
}

/* FOOTER */
.footer {
  background: #111827;
  color: white;
  padding: 50px 20px;
  font-size: 20px;
}

/* GRID */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

/* COLUMN */
.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col p {
  margin: 8px 0;
  font-size: 14px;
  color: #ccc;
}

/* SOCIAL */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
  margin-top: 30px;
}

.footer-social a {
  color: white;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #ff7a18;
  transform: scale(1.2);
}

/* COPYRIGHT */
.footer-copy {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #aaa;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  padding: 80px 50px;
  background: #f9fbff;
}

.testimonial-title {
  text-align: center;
  margin-bottom: 0px;
  font-size: 32px;
}

/* GRID */
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

/* CARD */
.testimonial-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: left;
  transition: 0.3s;
}

.testimonial-card:hover {
  transform: translateY(-8px);
}

/* QUOTE ICON */
.quote {
  font-size: 30px;
  color: #6a11cb;
}

/* TEXT */
.testimonial-card h3 {
  margin: 10px 0;
}

.testimonial-card p {
  font-size: 14px;
  color: #555;
}

.testimonial-card strong {
  display: block;
  margin-top: 10px;
  color: #333;
}
/* TESTIMONIAL SECTION */
.testimonial-section {
  padding: 80px 20px;
  background: #f9fbff;
}

.testimonial-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}


/* OFFERINGS SECTION */
.offerings-section {
  padding: 80px 60px;
  background: linear-gradient(to right, #f4f4f4 50%, #69a7f4);
  /* color: white; */
}

/* TITLE */
.offer-title {
  font-size: 48px;
  margin-bottom: 60px;
  font-weight: 700;
}

/* GRID */
.offer-grid {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* COLUMN */
.offer-column {
  width: 50%;
}

/* HEADINGS */
.offer-column h2 {
  color: #ffd54f;
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
}

/* UNDERLINE */
.offer-column h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #ffd54f;
  margin-top: 8px;
}

/* LIST */
.offer-column ul {
  list-style: none;
  padding: 0;
}

.offer-column li {
  margin-bottom: 12px;
  font-size: 16px;
}

@media (max-width: 768px) {

  .offer-grid {
    flex-direction: column;
  }

  .offer-column {
    width: 100%;
  }

  .offer-title {
    font-size: 32px;
  }
}

/* SPLIT BACKGROUND */
.offer-continue {
  padding: 80px 40px;
  
}


/* TITLE */
.continue-title {
  color: #1e90c2;
  font-size: 36px;
  margin-bottom: 40px;
}

/* GRID */
.continue-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.continue-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* TITLE */
.continue-card h3 {
  background: #e0e0e0;
  padding: 10px;
  border: 2px solid rgb(189, 181, 242);
  text-align: center;
  margin-bottom: 20px;
}

/* LIST */
.continue-card ul {
  padding-left: 20px;
}

.continue-card:hover {
  transform: translateY(-10px);
}
.interview-section {
  padding: 80px 40px;
  background: linear-gradient(to right, #f4f4f4 50%, #69a7f4);
}

/* TITLE */
.interview-section h1 {
  color: #1e90c2;
  margin-bottom: 40px;
}

/* GRID */
.interview-grid {
  display: flex;
  gap: 40px;
}

/* CARD */
.interview-card {
  background: white;
  padding: 30px;
  border: 4px solid #6a5acd;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.interview-card:hover {
  transform: translateY(-10px);
}

/* TEXT */
.interview-card h3 {
  margin-bottom: 15px;
}

.interview-card ul {
  padding-left: 20px;
}

.interview-section {
  padding: 80px 40px;
  background: linear-gradient(to right, #f4f4f4 50%, #69a7f4);
}

/* TITLE */
.interview-section h1 {
  color: #1e90c2;
  margin-bottom: 40px;
}

/* GRID */
.interview-grid {
  display: flex;
  gap: 40px;
}

/* CARD */
.interview-card {
  background: white;
  padding: 30px;
  border: 4px solid #c5c1e3;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.interview-card:hover {
  transform: translateY(-10px);
}

/* TEXT */
.interview-card h3 {
  margin-bottom: 15px;
}

.interview-card ul {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/* RESPONSIVE */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 28px;
  }

  .split {
    flex-direction: column;
  }

  .split img,
  .split div {
    width: 100%;
  }

  .features-grid,
  .cta-section,
  .stats-section {
    flex-direction: column;
  }

  .contact-container {
    flex-direction: column;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}




